.skillsGridDiv {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 1080px) {
  .skillsGridDiv {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  }
}

@media screen and (max-width: 456px) {
  .skillsGridDiv {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
}
