.projectMainDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin-top: 80px;
}
.projectDiv {
  margin-top: 80px;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1080px) {
  .projectMainDiv {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  .projectDiv {
    margin-top: 80px;
  }
}



@media screen and (max-width: 456px) {
  .projectMainDiv {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
  }
  .projectDiv {
    margin-top: 80px;
  }
}
