.aboutMain {
  height: 80vh;
  width: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.aboutImgDiv {
  z-index: -1;
  object-fit: cover;
}

.aboutParaDiv {
  width: 40%;
}
.aboutPara {
  line-height: 2.5rem;
}

.responsive {
  width: 30%;
}
@media (max-width: 768px) {
  .login-responsive {
    width: 70%;
  }
}

@media (max-width: 456px) {
  .login-wrapper {
    width: 90%;
  }
}