.aboutMain {
  height: 80vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.aboutImgDiv {
  z-index: -1;
  object-fit: cover;
}
.aboutImage{
  width: 70%;
}
.aboutParaDiv {
  width: 40%;
}
.aboutPara {
  line-height: 2.5rem;
}

/* tab */

@media screen and (max-width: 1080px) {
  .aboutMain {
    height: auto;
margin-top: 20px;
    flex-direction: column;
gap:20px;
    /* justify-content: center;
  align-items: center; */
  }
  .aboutParaDiv {
    width: 90%;
    text-align: center;
  }.aboutImage{
  width: 100%;
}
}

/* @media screen and (max-width: 456px) {
  .aboutMain {
    height: auto;

    flex-direction: column;

    justify-content: center;
  align-items: center;
  }
} */
